.slide-show-fade{
    width: 100%;
    height: 100%;
}

.slide-show-fade img{
    height: 100%;
    position: absolute;
    opacity: 0;
}

.slide-show-fade img:nth-child(1) {
    animation: SlideShowFade 6s infinite;
    animation-delay: 0s;
}
.slide-show-fade img:nth-child(2) {
    animation: SlideShowFade 6s infinite;
    animation-delay: 2s;
}
.slide-show-fade img:nth-child(3) {
    animation: SlideShowFade 6s infinite;
    animation-delay: 4s;
}

@keyframes SlideShowFade {
    0% {
        opacity: 0
    }

    5% {
        opacity: 1
    }

    20% {
        opacity: 1
    }

    25% {
        opacity: 0
    }
}